body{
    background-image: url(https://images4.alphacoders.com/199/thumb-1920-199238.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center
    
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    margin: auto;
    background-color: hsla(0, 0%, 100%, 0.37);
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%)
}

.botao{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ff3a3a; /* Green */
    border: none;
    font-weight:bold;
    color: white;
    padding: 15px 32px;
    border-radius: 10px;
    font-size: 16px;
}
.botao:hover{
    font-family: Arial, Helvetica, sans-serif;
    background-color: red; /* Green */
    border: none;
    font-weight:bold;
    color: black;
    padding: 15px 32px;
    border-radius: 10px;
    font-size: 16px;
}

input{
    width: 100%;
    display: block;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 8px;
    border:none;
}
input:hover{
    background-color: rgb(128, 3, 3);
    width: 100%;
    display: block;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 8px;
    color: white;
}
